/*Default*/
/*Common Color*/
/*Theme color*/
/*Common Color*/
/*Theme color*/
/*Background Image SCSS*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
.bg {
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  padding: 250px 0;
}
.bg::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #333;
  opacity: 0.6;
  z-index: -1;
}

.mx-auto {
  margin: 0 auto;
}

/*Padding & Margin*/
.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/*Flex Css*/
.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-evenly {
  justify-content: evenly;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.aling-items-start {
  align-items: start;
}

.aling-items-center {
  align-items: center;
}

.aling-items-end {
  align-items: end;
}

.aling-items-stretch {
  align-items: stretch;
}

.aling-items-baseline {
  align-items: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

/*Section*/
/*Header-area Start*/
header .header-area {
  position: absolute;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  padding: 0 105px;
  background-color: rgba(39, 117, 111, 0.3);
  height: 95px;
  z-index: 700;
  background-size: cover;
}
header .header-area .logo {
  margin-top: 22px;
}
header .header-area .main-menu ul {
  display: flex;
}
header .header-area .main-menu ul li {
  margin-right: 48px;
  font-size: 18px;
  padding: 34px 0;
  position: relative;
}
header .header-area .main-menu ul li:hover .submenu {
  visibility: visible;
  top: 100%;
  opacity: 1;
}
header .header-area .main-menu ul li::before {
  position: absolute;
  content: "";
  height: 0px;
  width: 2px;
  background: #f8a683;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.3s;
}
header .header-area .main-menu ul li:hover::before {
  height: 28px;
}
header .header-area .main-menu ul li a {
  color: #fff;
  text-transform: capitalize;
  display: block;
  transition: 0.3s;
}
header .header-area .main-menu ul li a:hover {
  color: #f8a683;
}
header .header-area .main-menu ul .submenu {
  display: block;
  position: absolute;
  background: #fff;
  min-width: 220px;
  border-top: 4px solid #f8a683;
  z-index: 2;
  top: 110%;
  left: 0;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
header .header-area .main-menu ul .submenu li {
  display: block;
  margin: 0;
  padding: 14px 0;
}
header .header-area .main-menu ul .submenu li::before {
  display: none;
}
header .header-area .main-menu ul .submenu li a {
  color: #333;
  font-size: 16px;
  font-weight: 600;
}
header .header-area .main-menu ul .submenu li a:hover {
  color: #f8a683;
}
header .header-area .main-menu ul .submenu li ::before {
  display: none;
}
header .header-area .header-right {
  display: flex;
}
header .header-area .header-right .header-cta {
  padding: 34px 0px;
}
header .header-area .header-right .header-cta i {
  color: #f8a683;
  font-size: 18px;
}
header .header-area .header-right .header-cta span a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
header .header-area .header-right .header-bar {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 62px;
  padding-top: 14px;
  padding-left: 13px;
  margin-top: 20px;
  cursor: pointer;
  margin-left: 50px;
}
header .header-area .header-right .header-bar:hover span:nth-child(2) {
  width: 24px;
}
header .header-area .header-right .header-bar span {
  background: #056c5f;
  height: 2px;
  width: 24px;
  display: block;
  margin: 4px 0;
  transition: 0.3s;
}
header .header-area .header-right .header-bar span:nth-child(2) {
  width: 15px;
}

/*Header-area end*/
/*Slider-area Start*/
.slider-area {
  overflow: hidden;
}
.slider-area .single-slider {
  min-height: 1030px;
}
.slider-area .single-slider .slider-content {
  padding-left: 120px;
  padding-top: 150px;
}
.slider-area .single-slider .slider-content span {
  color: #f8a683;
  text-transform: uppercase;
  font-size: 17px;
  display: block;
  margin-bottom: 30px;
  font-weight: 600;
}
.slider-area .single-slider .slider-content h2 {
  font-family: "Playfair Display", serif;
  font-size: 100px;
  color: #fff;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 60px;
}
.slider-area .single-slider .slider-img {
  padding-left: 100px;
  overflow: hidden;
  margin-top: 200px;
}
.slider-area .single-slider .slider-img img {
  margin-left: 10px;
}

/*Slider-area end*/
.button-1 {
  display: inline-block;
  height: 65px;
  background: #fff;
  padding: 0 50px;
  border-radius: 0 50px 50px 50px;
  text-align: center;
  color: #056c5f;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 65px;
  transition: 0.3s;
}
.button-1:hover {
  background: #f8a683;
  color: #fff;
}

.button-2 {
  display: inline-block;
  height: 65px;
  background: #056c5f;
  padding: 0 50px;
  border-radius: 0 50px 50px 50px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 65px;
  transition: 0.3s;
}
.button-2:hover {
  background: #f8a683;
  color: #fff;
}

.button-3 {
  display: inline-block;
  height: 65px;
  background: #fff;
  padding: 0 50px;
  border-radius: 0 50px 50px 50px;
  text-align: center;
  color: #005046;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 65px;
  transition: 0.3s;
}
.button-3:hover {
  background: #056c5f;
  color: #fff;
}

.contact-button {
  display: inline-block;
  height: 65px;
  background: #f8a683;
  padding: 0 50px;
  border-radius: 0 50px 50px 50px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 65px;
  transition: 0.3s;
  border: none;
}
.contact-button:hover {
  background: #fff;
  color: #056c5f;
}

.features-area .features-item {
  background: #fff;
  padding: 30px;
  transition: 0.3s;
}
.features-area .features-item:hover {
  background: #f8a683;
}
.features-area .features-item:hover .features-icon i {
  background-color: #f8a683;
}
.features-area .features-item .features-icon i {
  background-color: #056c5f;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  text-align: center;
  line-height: 90px;
  font-size: 30px;
  color: #fff;
  border: 1px solid #fff;
  margin-right: 35px;
  transition: 0.3s;
}
.features-area .features-item .features-content {
  overflow: hidden;
}
.features-area .features-item .features-content h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-bottom: 15px;
}
.features-area .features-item .features-content p {
  color: gray;
  font-size: 15px;
  font-weight: 500;
}

.section-title-wrap h2 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  line-height: 60px;
  color: #005046;
  font-weight: 400;
}
.section-title-wrap span {
  text-transform: uppercase;
  color: gray;
  font-weight: 500;
}

.service-area .services-box {
  position: relative;
  overflow: hidden;
}
.service-area .services-box .services-img {
  position: relative;
}
.service-area .services-box .services-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.service-area .services-box .services-img .services-bottom-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #056c5f;
  padding: 20px 30px;
  transition: 0.3s;
}
.service-area .services-box .services-img .services-bottom-title h3 {
  font-family: "Playfair Display", serif;
  font-weight: 200;
  color: #fff;
  margin: 0;
}
.service-area .services-box .services-img .services-bottom-title i {
  position: absolute;
  right: 0;
  background: #f8a683;
  width: 70px;
  height: 100%;
  top: 0;
  color: #fff;
  font-size: 23px;
  font-weight: 100;
  text-align: center;
  line-height: 80px;
}
.service-area .services-box .services-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(-50%);
  padding: 30px 40px;
  text-align: center;
  transition: 0.3s;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}
.service-area .services-box .services-content h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
}
.service-area .services-box .services-content h3 a {
  color: #fff;
  font-size: 27px;
}
.service-area .services-box .services-content p {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  padding: 20px 20px;
}
.service-area .services-box::before {
  content: "";
  background: #f8a683;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
}
.service-area .services-box:hover::before {
  opacity: 0.9;
  top: -10px;
  left: 10px;
}
.service-area .services-box:hover .services-content {
  opacity: 1;
  visibility: visible;
}
.service-area .services-box:hover .services-bottom-title {
  opacity: 0;
}
.service-area .services-box:hover img {
  transform: scale(1.1);
}

.about-doctor .Doctor-img img {
  margin-top: -65px;
  max-width: none;
}
.about-doctor .doctor-content h2 {
  font-family: "Playfair Display", serif;
  color: #005046;
  font-size: 50px;
  font-weight: 300;
}
.about-doctor .doctor-content h4 {
  font-family: "Playfair Display", serif;
  font-size: 26px;
  font-weight: 300;
  color: #056c5f;
}
.about-doctor .doctor-content p {
  font-size: 17px;
  color: rgb(132, 139, 138);
  font-weight: 400;
  line-height: 30px;
}
.about-doctor .button-content img {
  padding-left: 35px;
}

.appointment-area .Dr-appointment-box {
  box-shadow: 0px 10px 30px 0px rgba(0, 49, 43, 0.05);
}
.appointment-area .Dr-appointment-box .appointment-box h2 {
  background: #056c5f;
  color: #fff;
  padding: 50px 30px;
  text-align: center;
  font-size: 50px;
  line-height: 1;
  margin: 0;
}
.appointment-area .Dr-appointment-box .appointment-box .appoinment-form {
  background: #f8a683;
  padding: 50px 40px;
}
.appointment-area .Dr-appointment-box .appointment-box .appoinment-form form input {
  width: 100%;
  margin-bottom: 20px;
  border: 0;
  height: 70px;
  color: #fff;
  background: #f9b89c;
  padding: 0 20px;
}
.appointment-area .Dr-appointment-box .appointment-box .appoinment-form form input:-moz-placeholder {
  color: #fff;
  font-size: 14px;
  opacity: 1;
}
.appointment-area .Dr-appointment-box .appointment-box .appoinment-form form input::placeholder {
  color: #fff;
  font-size: 14px;
  opacity: 1;
}
.appointment-area .Dr-appointment-box .appointment-box .appoinment-form form textarea {
  width: 100%;
  border: 0;
  padding: 20px;
  background: #f9b89c;
}
.appointment-area .Dr-appointment-box .appointment-box .appoinment-form form textarea:-moz-placeholder {
  color: #fff;
  font-size: 14px;
  opacity: 1;
}
.appointment-area .Dr-appointment-box .appointment-box .appoinment-form form textarea::placeholder {
  color: #fff;
  font-size: 14px;
  opacity: 1;
}
.appointment-area .Dr-appointment-box .appointment-box .appoinment-form form .submit-btn {
  background: #056c5f;
  border: 0;
  width: 100%;
  padding: 25px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  transition: 0.3s;
}
.appointment-area .Dr-appointment-box .appointment-box .appoinment-form form .submit-btn:hover {
  background: #005046;
}
.appointment-area .Dr-appointment-box .counter-box {
  padding: 30px;
}
.appointment-area .Dr-appointment-box .counter-box .section-title-wrap h2 {
  font-weight: 500;
  font-size: 47px;
  color: #005046;
}
.appointment-area .Dr-appointment-box .counter-box .section-title-wrap span {
  text-transform: uppercase;
  color: gray;
  font-weight: 600;
  padding-left: 13px;
}
.appointment-area .Dr-appointment-box .counter-box .counter-list-box {
  padding: 23px;
  position: relative;
}
.appointment-area .Dr-appointment-box .counter-box .counter-list-box::before {
  content: "";
  background: #ddd;
  width: 85%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 154px;
}
.appointment-area .Dr-appointment-box .counter-box .counter-list-box::after {
  content: "";
  background: #ddd;
  width: 2px;
  height: 305px;
  position: absolute;
  left: 37%;
  top: 0;
}
.appointment-area .Dr-appointment-box .counter-box .counter-list-box .counter-item {
  width: 50%;
  float: left;
  margin-bottom: 90px;
}
.appointment-area .Dr-appointment-box .counter-box .counter-list-box .counter-item h2 {
  font-family: inherit;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 4px;
  line-height: 1;
  padding-bottom: 20px;
}
.appointment-area .Dr-appointment-box .counter-box .counter-list-box .counter-item:nth-child(1) {
  color: #f8a683;
}
.appointment-area .Dr-appointment-box .counter-box .counter-list-box .counter-item:nth-child(2) {
  color: #005046;
}
.appointment-area .Dr-appointment-box .counter-box .counter-list-box .counter-item:nth-child(3) {
  color: #005046;
}
.appointment-area .Dr-appointment-box .counter-box .counter-list-box .counter-item:nth-child(4) {
  color: #f8a683;
}
.appointment-area .Dr-appointment-box .counter-box .counter-list-box .counter-item span {
  font-size: 27px;
  color: #848b8a;
  font-weight: 500;
}

.portfolio-area .portfolio-item {
  overflow: hidden;
  padding: 0;
}
.portfolio-area .portfolio-item img {
  transition: 0.3s;
  max-width: 100%;
}
.portfolio-area .portfolio-item img:hover {
  transform: scale(1.1);
}

.contact-area .contact-form .section-title {
  color: #fff;
}
.contact-area .contact-form input {
  height: 70px;
  width: 100%;
  border: 0;
  padding: 0 15px;
  background: #458e85;
  color: #fff;
}
.contact-area .contact-form input::placeholder {
  color: #fff;
  font-size: 14px;
  opacity: 1;
}
.contact-area .contact-form .contact-select {
  display: flex;
  position: relative;
}
.contact-area .contact-form .contact-select i {
  position: absolute;
  top: 30px;
  right: 20px;
  color: #fff;
}
.contact-area .contact-form .contact-select select {
  width: 100%;
  height: 70px;
  border: 0;
  padding: 0 20px;
  background: #458e85;
  appearance: none;
  font-size: 14px;
  color: #fff;
  background: #458e85;
}
.contact-area .contact-form textarea {
  width: 100%;
  background: #458e85;
  border: 0;
  padding: 20px;
  height: 170px;
  color: #fff;
  margin-bottom: 20px;
  resize: none;
}
.contact-area .contact-form textarea::placeholder {
  color: #fff;
  font-size: 14px;
  opacity: 1;
}
.contact-area .our-map iframe {
  padding-left: 100px;
  height: 980px;
  width: 100%;
  border: 0;
  transform: translateY(-60px);
}

.article-area .article-img {
  overflow: hidden;
}
.article-area .article-img img {
  transition: 0.4s;
}
.article-area .article-img img:hover {
  transform: scale(1.1);
}
.article-area .article-content {
  position: relative;
  background: #fbf7f3;
  width: 80%;
  padding-left: 20px;
  margin-top: -70px;
}
.article-area .article-content .calender {
  position: absolute;
  text-align: right;
  background: #056c5f;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 2;
  padding: 20px;
  right: 0;
  top: 0;
}
.article-area .article-content .calender h5 {
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  line-height: 20px;
}
.article-area .article-content .calender span {
  color: #fff;
  font-weight: 600;
}
.article-area .article-content .article-up {
  transition: 0.3s;
}
.article-area .article-content .article-up span a {
  color: gray;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}
.article-area .article-content .article-up span a i {
  transition: 0.3s;
  color: #f8a683;
  margin-right: 7px;
}
.article-area .article-content .article-up span:hover i {
  color: #056c5f;
}
.article-area .article-content .article-up span:hover a {
  color: #056c5f;
}
.article-area .article-content h2 {
  font-family: "Playfair Display", serif;
  font-size: 27px;
  line-height: 31px;
  margin-top: 14px;
  margin-bottom: 22px;
  font-weight: 300;
  color: #005046;
  transition: 0.3s;
}
.article-area .article-content h2:hover {
  color: #f8a683;
  cursor: pointer;
}
.article-area .article-content .article-meta span {
  margin-right: 18px;
}
.article-area .article-content .article-meta span a {
  color: gray;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}
.article-area .article-content .article-meta span a i {
  transition: 0.3s;
  color: #f8a683;
  margin-right: 7px;
}
.article-area .article-content .article-meta span:hover a {
  color: #056c5f;
}
.article-area .article-content .article-meta span:hover i {
  color: #056c5f;
}

.brand-area {
  background: #151616;
}
.brand-area .brand-text {
  background-color: #056c5f;
  padding: 40px 50px;
  border-radius: 10px;
}
.brand-area .brand-text h3 {
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 50px;
  line-height: 60px;
  font-weight: 300;
  margin-bottom: 0;
  display: inline-block;
}
.brand-area .brand-active {
  padding: 35px;
  border-radius: 0 10px 10px 0;
}
.brand-area .brand-active .brand-item {
  display: inline-block;
  padding-right: 100px;
}
.brand-area .footer_widget .logo a img {
  padding-bottom: 20px;
}
.brand-area .footer_widget .footer_area p {
  color: #848b8a;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
}
.brand-area .footer_widget .social h4 {
  color: #fff;
  font-family: "Playfair Display", serif;
  padding-bottom: 10px;
}
.brand-area .footer_widget .social ul {
  display: flex;
  padding: 0;
}
.brand-area .footer_widget .social ul li a {
  display: block;
  text-align: center;
  font-size: 14px;
  background-color: #313232;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  transition: 0.3s;
}
.brand-area .footer_widget .social ul li a:hover {
  color: #fff;
  background-color: #f8a683;
}
.brand-area .footer_widget .social ul li a i {
  margin: 0;
}
.brand-area .footer-service .footer-title h4 {
  color: #fff;
  font-family: "Playfair Display", serif;
  padding-bottom: 10px;
}
.brand-area .footer-service .footer-list ul li a {
  color: #fff;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
