/*Common Color*/
$white:#fff;
$black:#333;
$gray:#eee;
$bg:#056c5f;

/*Theme color*/
$heading_color: #ff3636;
$primary_color: #f8a683;
$link_hover:#f8a683;
$link_color: #333;
$border_color: #333;
$btn_background: #ff3636;
$btn_color: #ff3636;
$btn_hover: #f8a683;
$bg-gray:#f6f6f6;
$count-bg:#0f1113;
$border-bottom:#f3f3f3;
$blog:#F2f2f2;