.brand-area{
    background: $black-bg;
    .brand-text{
        background-color: #056c5f;
        padding: 40px 50px;
        border-radius: 10px;        
        h3{
           font-family: "Playfair Display", serif;
           color: $white;
           font-size: 50px;
           line-height: 60px;
           font-weight: 300;
           margin-bottom: 0;
           display: inline-block;
        }
    }
        .brand-active{
            padding: 35px;
            border-radius: 0 10px 10px 0; 
            .brand-item{
                display: inline-block;
                padding-right: 100px;
            } 
        }
        .footer_widget{
            .logo{
                a{
                    img{
                        padding-bottom: 20px;
                    }
                }
              }
                .footer_area{
                    p{
                      color: $footer_font;
                      font-size: 16px;
                      font-weight: 500;
                      line-height: 27px;
                    }
                }
            .social{
                h4{
                    color: $white;
                    font-family: "Playfair Display", serif;
                    padding-bottom: 10px;
                }
                ul{
                    display: flex;
                    padding: 0;
                    li{
                        a{
                            display: block;
                            text-align: center;
                            font-size: 14px;
                            background-color: #313232;
                            color: $white;
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            margin-right: 10px;
                            border-radius: 50%;
                            transition: .3s;
                            &:hover{
                                color: $white;
                                background-color: $primary-color;
                            }
                            i{
                              margin: 0;
                              
                            }
                        }
                    }
                }
            }
        }
        .footer-service{
            .footer-title{
                h4{
                    color: $white;
                    font-family: "Playfair Display", serif;
                    padding-bottom: 10px;
                }
            }
            .footer-list{
                ul{
                    li{
                        a{
                            color: $white;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
}