.portfolio-area{
    .portfolio-item{
        overflow: hidden;
        padding: 0;
        img{
          transition: .3s;
          width: 100%;
          height: 100%;
          object-fit: cover;
          &:hover{
            transform: scale(1.1);
          }
        }
    }
}